In [ ]:
import pandas as pd

In [ ]:
plasm = pd.read_csv('https://raw.githubusercontent.com/AyoAdi/Sales_chatbot/refs/heads/main/Datasets/Product-Level%20Ad%20Sales%20and%20Metrics%20(mapped)%20-%20Product-Level%20Ad%20Sales%20and%20Metrics%20(mapped).csv')

In [ ]:
plet = pd.read_csv('https://raw.githubusercontent.com/AyoAdi/Sales_chatbot/refs/heads/main/Datasets/Product-Level%20Eligibility%20Table%20(mapped)%20-%20Product-Level%20Eligibility%20Table%20(mapped).csv')

In [ ]:
pltsm = pd.read_csv('https://raw.githubusercontent.com/AyoAdi/Sales_chatbot/refs/heads/main/Datasets/Product-Level%20Total%20Sales%20and%20Metrics%20(mapped)%20-%20Product-Level%20Total%20Sales%20and%20Metrics%20(mapped).csv')

In [ ]:
plasm

            date  item_id  ad_sales  impressions  ad_spend  clicks  units_sold
0     2025-06-01        0    332.96         1963     16.87       8           3
1     2025-06-01        1      0.00         1764     20.39      11           0
2     2025-06-01        2     95.99          169      0.48       0           1
3     2025-06-01        3   1001.93         6943     75.69      31           9
4     2025-06-01        4   1096.98        59046    401.39     285           5
...          ...      ...       ...          ...       ...     ...         ...
3691  2025-06-14      259      0.00            0      0.00       0           0
3692  2025-06-14      260      0.00            1      0.00       0           0
3693  2025-06-14      261      0.00            6      0.00       0           0
3694  2025-06-14      262      0.00            0      0.00       0           0
3695  2025-06-14      263      0.00            1      0.00       0           0

[3696 rows x 7 columns]

In [ ]:
plet

,eligibility_datetime_utc,item_id,eligibility,message
0,2025-06-04 8:50:07,29,False,This product's cost to Amazon does not allow u...
1,2025-06-04 8:50:07,270,True,NaN
2,2025-06-04 8:50:07,31,True,NaN
3,2025-06-04 8:50:07,26,True,NaN
4,2025-06-04 8:50:07,25,True,NaN
...,...,...,...,...
4376,2025-06-03 8:50:28,334,True,NaN
4377,2025-06-03 8:50:28,335,True,NaN
4378,2025-06-03 8:50:28,336,True,NaN
4379,2025-06-03 8:50:28,266,True,NaN
4380,2025-06-03 8:50:28,265,False,This product's cost to Amazon does not allow u...

In [ ]:
pltsm

           date  item_id  total_sales  total_units_ordered
0    2025-06-01        0       309.99                    1
1    2025-06-01        3       338.00                    2
2    2025-06-01        4       617.99                    3
3    2025-06-01        9       219.00                    1
4    2025-06-01       12       534.00                    3
..          ...      ...          ...                  ...
697  2025-06-14      150       959.90                   10
698  2025-06-14      154       492.00                    4
699  2025-06-14      161      1170.00                   18
700  2025-06-14      254         0.00                    0
701  2025-06-14      266       436.00                    2

[702 rows x 4 columns]

# Handling table 'plasm'

In [ ]:
import numpy as np
plasm.isnull().sum()

date           0
item_id        0
ad_sales       0
impressions    0
ad_spend       0
clicks         0
units_sold     0
dtype: int64

In [ ]:
plasm.isnull().any()

date           False
item_id        False
ad_sales       False
impressions    False
ad_spend       False
clicks         False
units_sold     False
dtype: bool

In [ ]:
plasm.duplicated().sum()

np.int64(0)

In [ ]:
plasm.columns

Index(['date', 'item_id', 'ad_sales', 'impressions', 'ad_spend', 'clicks',
       'units_sold'],
      dtype='object')

In [ ]:
plasm["date"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3696 entries, 0 to 3695
Series name: date
Non-Null Count  Dtype
--------------  -----
3696 non-null   object
dtypes: object(1)
memory usage: 29.0+ KB

In [ ]:
plasm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3696 entries, 0 to 3695
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3696 non-null   object
 1   item_id      3696 non-null   int64
 2   ad_sales     3696 non-null   float64
 3   impressions  3696 non-null   int64
 4   ad_spend     3696 non-null   float64
 5   clicks       3696 non-null   int64
 6   units_sold   3696 non-null   int64
dtypes: float64(2), int64(4), object(1)
memory usage: 202.3+ KB

In [ ]:
plasm['date'] = pd.to_datetime(plasm['date']) # Converting the date column datatype from "object" to datetime

In [ ]:
plasm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3696 entries, 0 to 3695
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3696 non-null   datetime64[ns]
 1   item_id      3696 non-null   int64
 2   ad_sales     3696 non-null   float64
 3   impressions  3696 non-null   int64
 4   ad_spend     3696 non-null   float64
 5   clicks       3696 non-null   int64
 6   units_sold   3696 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(4)
memory usage: 202.3 KB

In [ ]:
duplicates_in_item_id = plasm['item_id'].duplicated(keep=False)

In [ ]:
num_duplicates_item_id = duplicates_in_item_id.sum()
print(f"Number of duplicate 'item_id' entries: {num_duplicates_item_id}")

Number of duplicate 'item_id' entries: 3696

#### Looks like there are multiple duplicate values in this column. This means that this combined with another column becomes the primary key

In [ ]:
duplicates_in_composite_key = plasm.duplicated(subset=['date', 'item_id'], keep=False)

In [ ]:
num_duplicates_composite_key = duplicates_in_composite_key.sum()
print(f"Number of duplicates : {num_duplicates_composite_key}")

Number of duplicates : 0

In [ ]:
plasm.columns

Index(['date', 'item_id', 'ad_sales', 'impressions', 'ad_spend', 'clicks',
       'units_sold'],
      dtype='object')

In [ ]:
plasm["ad_sales"].describe()

count    3696.000000
mean      113.386962
std       514.121846
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max      7956.240000
Name: ad_sales, dtype: float64

In [ ]:
plasm["ad_sales"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3696 entries, 0 to 3695
Series name: ad_sales
Non-Null Count  Dtype
--------------  -----
3696 non-null   float64
dtypes: float64(1)
memory usage: 29.0 KB

In [ ]:
plasm["item_id"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3696 entries, 0 to 3695
Series name: item_id
Non-Null Count  Dtype
--------------  -----
3696 non-null   int64
dtypes: int64(1)
memory usage: 29.0 KB

In [ ]:
plasm["impressions"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3696 entries, 0 to 3695
Series name: impressions
Non-Null Count  Dtype
--------------  -----
3696 non-null   int64
dtypes: int64(1)
memory usage: 29.0 KB

In [ ]:
plasm["impressions"]

0        1963
1        1764
2         169
3        6943
4       59046
        ...
3691        0
3692        1
3693        6
3694        0
3695        1
Name: impressions, Length: 3696, dtype: int64

In [ ]:
plasm["ad_spend"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3696 entries, 0 to 3695
Series name: ad_spend
Non-Null Count  Dtype
--------------  -----
3696 non-null   float64
dtypes: float64(1)
memory usage: 29.0 KB

In [ ]:
plasm["ad_spend"] < 0

0       False
1       False
2       False
3       False
4       False
        ...
3691    False
3692    False
3693    False
3694    False
3695    False
Name: ad_spend, Length: 3696, dtype: bool

In [ ]:
plasm["clicks"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3696 entries, 0 to 3695
Series name: clicks
Non-Null Count  Dtype
--------------  -----
3696 non-null   int64
dtypes: int64(1)
memory usage: 29.0 KB

In [ ]:
plasm["units_sold"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3696 entries, 0 to 3695
Series name: units_sold
Non-Null Count  Dtype
--------------  -----
3696 non-null   int64
dtypes: int64(1)
memory usage: 29.0 KB

### Handling "plet"

In [ ]:
plet

,eligibility_datetime_utc,item_id,eligibility,message
0,2025-06-04 8:50:07,29,False,This product's cost to Amazon does not allow u...
1,2025-06-04 8:50:07,270,True,NaN
2,2025-06-04 8:50:07,31,True,NaN
3,2025-06-04 8:50:07,26,True,NaN
4,2025-06-04 8:50:07,25,True,NaN
...,...,...,...,...
4376,2025-06-03 8:50:28,334,True,NaN
4377,2025-06-03 8:50:28,335,True,NaN
4378,2025-06-03 8:50:28,336,True,NaN
4379,2025-06-03 8:50:28,266,True,NaN
4380,2025-06-03 8:50:28,265,False,This product's cost to Amazon does not allow u...

In [ ]:
plet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4381 entries, 0 to 4380
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   eligibility_datetime_utc  4381 non-null   object
 1   item_id                   4381 non-null   int64
 2   eligibility               4381 non-null   bool
 3   message                   636 non-null    object
dtypes: bool(1), int64(1), object(2)
memory usage: 107.1+ KB

In [ ]:
plet['eligibility_datetime_utc'] = pd.to_datetime(plet['eligibility_datetime_utc']) # Converting the column to datetime format from object format

In [ ]:
plet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4381 entries, 0 to 4380
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   eligibility_datetime_utc  4381 non-null   datetime64[ns]
 1   item_id                   4381 non-null   int64
 2   eligibility               4381 non-null   bool
 3   message                   636 non-null    object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 107.1+ KB

In [ ]:
duplicates_in_item_id = plet['item_id'].duplicated(keep=False)
num_duplicates_item_id = duplicates_in_item_id.sum()
print(num_duplicates_item_id)

4381

In [ ]:
duplicates_in_composite_key = plet.duplicated(subset=['item_id', 'eligibility_datetime_utc'], keep=False) # Since item_id has duplicates, it means it has to be a composite key with another column
num_duplicates_composite_key = duplicates_in_composite_key.sum()
print(num_duplicates_composite_key) # (item_id, eligibility_datetime_utc) is the composite key

0

### Handling "pltsm"

In [ ]:
pltsm

           date  item_id  total_sales  total_units_ordered
0    2025-06-01        0       309.99                    1
1    2025-06-01        3       338.00                    2
2    2025-06-01        4       617.99                    3
3    2025-06-01        9       219.00                    1
4    2025-06-01       12       534.00                    3
..          ...      ...          ...                  ...
697  2025-06-14      150       959.90                   10
698  2025-06-14      154       492.00                    4
699  2025-06-14      161      1170.00                   18
700  2025-06-14      254         0.00                    0
701  2025-06-14      266       436.00                    2

[702 rows x 4 columns]

In [ ]:
pltsm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 702 non-null    object
 1   item_id              702 non-null    int64
 2   total_sales          702 non-null    float64
 3   total_units_ordered  702 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 22.1+ KB

In [ ]:
pltsm['date'] = pd.to_datetime(pltsm['date']) # Converting the column to datetime format from object format

In [ ]:
pltsm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 702 non-null    datetime64[ns]
 1   item_id              702 non-null    int64
 2   total_sales          702 non-null    float64
 3   total_units_ordered  702 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 22.1 KB

In [ ]:
num_full_duplicates = pltsm.duplicated().sum() # Checking for duplicate values
num_full_duplicates

np.int64(0)

In [ ]:
duplicates_in_composite_key = pltsm.duplicated(subset=['date', 'item_id'], keep=False)
num_duplicates_composite_key = duplicates_in_composite_key.sum()
num_duplicates_composite_key

np.int64(0)

### We have verified that the three tables are in proper structure to be converted into SQL tables. Before that, lets save the newly changed tables as separate datasets.

In [ ]:
plasm.to_csv('product_level_sales_and_metrics_improved.csv', index=False)
print("Done")

Done

In [ ]:
plet.to_csv('product_level_eligibility_table_improved.csv', index=False)
print("Done")

Done

In [ ]:
pltsm.to_csv('producT_leve_totla_sales_and_metrics_improved.csv', index = False)
print("Done")

Done